Options -Indexes
RewriteEngine On

RewriteRule ^(?:src|database|tests|tools|runtime)/ - [F,L,NC]
RewriteRule ^(?:\.env|\.git) - [F,L,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "^(?:\.env|\.gitignore|README\.md)$">
    Require all denied
</FilesMatch>
